# Compose Deploy Specification
# https://docs.docker.com/reference/compose-file/deploy/
CPUS_LIMITS='0.50'
MENORY_LIMITS=512M

# Tips and Tricks
# https://it-tools.tech/token-generator

# Banco de dados 
DB_HOST=localhost 
DB_PORT=5432 
DB_USER=postgres 
DB_PASS=coloque_aqui_sua_senha_do_postgres 
DB_NAME=no_do_projeto 

# Segredos do JWT 
# Coloque strings longas e aleatórias aqui 
JWT_ACCESS_SECRET=troque_isso_por_uma_string_muito_longa_e_aleatoria 
JWT_REFRESH_SECRET=outra_string_diferente_e_muito_longa_aqui 

# Servidor 
PORT=3000
